<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VVVNavigationControllerExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3F276B11A76719700597D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F276C41A76719700597D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F484261A82416C00993423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F4843C1A82453400993423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
